<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DispensingDatabase" connectionString="Data Source=(local);Initial Catalog=DSClientOLTP;Integrated Security=true;Application Name=MedApplication;Encrypt=Yes;TrustServerCertificate=True" />
  </connectionStrings>
  <appSettings>
    <add key="IdentityServerUrl" value="https://localhost:11998/" />
    <add key="ClientId" value="es_station" />
    <add key="ClientSecret" value="83CFA7C3-6953-4C63-AC75-C1525A380F98" />
    <add key="ValidUsername" value="admin" />
    <add key="ValidPassword" value="qa" />
  </appSettings>
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="StorageSpaceAccessCache" cacheMemoryLimitMegabytes="25" physicalMemoryLimitPercentage="0" pollingInterval="00:02:00" />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Tasks\Take;Tasks\Remove" />
    </assemblyBinding>
    <!--<NetFx40_LegacySecurityPolicy enabled="true"/>-->
    <AppContextSwitchOverrides value="Switch.System.Windows.Controls.Grid.StarDefinitionsCanExceedAvailableSpace=true" />
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
</configuration>
